<!DOCTYPE html>
<html lang="en">
<main>
  <div class="jumbotron">
    <h1>This is great</h1>
    <p>Welcome to templating using EJS</p>
    <p><%= data.city.name %></p>
  </div>
</main>

</body>
</html>